html {
    font-family: sans-serif;
    font-size: 14px;
}

.List {
    border: 1px solid #d9dddd;
}

.formHeader{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: left;
    float: left;

}

.ListItemEven,
.ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.ListItemEven {
    background-color: #f8f8f0;
}  

.listArea{
    border-top-style: groove;
    border-top-color: #fff2b8;
    border-top-width: inherit;
    padding-left: 18px;
}

.contentArea{
    height: 800px;
}

.footerStyle{
    font-size: large;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 20px;
    background-color: #3365a7;
    height: 89px;
}

.headStyle{
    font-size: 38px;
    font-variant: small-caps;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    background-color : #3365a7;
    height: 80px;
}

.formTitle{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navLinks{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-top: 20px;
    padding-left: 20px;
    color: lightskyblue;
}

.col{
    padding-left: 0px;
    padding-right: 0px;
}

.langStyle{
    float: right;
    padding-right: 20px;
}

.formTitleLayoutButton{
    padding-Left:10px; 
    display:inline
}

.formTitleSearchButton{
    display: inline;
}

.numberCellStyle{
    text-align: center;
}

.messageStyle{
    padding-left: 5px;
    color: #947b0b;
}